
B.vcxproj
B.vcxproj
B.vcxproj.filters
*.vcxproj
B.vcxproj
B.vcxproj
B.vcxproj.filters
Debug/B.log
Debug/B.tlog/B.lastbuildstate
Debug/B.tlog/CL.command.1.tlog
Debug/B.tlog/CL.read.1.tlog
Debug/B.tlog/CL.write.1.tlog
Debug/B.tlog/link-cvtres.read.1.tlog
Debug/B.tlog/link-cvtres.write.1.tlog
Debug/B.tlog/link-rc.read.1.tlog
Debug/B.tlog/link-rc.write.1.tlog
Debug/B.tlog/link.command.1.tlog
Debug/B.tlog/link.read.1.tlog
Debug/B.tlog/link.write.1.tlog
Debug/B.tlog/unsuccessfulbuild
Debug/Game.obj
Debug/Sprites.obj
Debug/Textures.obj
Debug/vc142.idb
Debug/vc142.pdb
B.vcxproj
B.vcxproj.filters
B.vcxproj
*.vcxproj
*.filters
